body{
    background-color: white;
}

.wrap{
    margin-top: 200px;
}
.cube
{
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    
}
.cube img
{
    position: absolute;
    opacity: 0.8;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 50px 0px rgb(0, 255, 242);
    border-radius: 10px;
}
.img1
{
    transform:rotateY(0deg) translateZ(100px);
}
.img2
{
    transform:rotateY(90deg) translateZ(100px);
}
.img3
{
    transform:rotateY(180deg) translateZ(100px);
}
.img4
{
    transform:rotateY(-90deg) translateZ(100px);
}
.img6
{
    transform:rotateX(90deg) translateZ(0px) translateY(-100px);
}
.img5
{
    transform:rotateX(-90deg) translateZ(200px) translateY(-100px);
}
@keyframes loop
{
    from
    {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to
    {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.cube
{
    animation: loop 10s linear infinite;
}
